/* In your component's style or global styles */
.header-row {
    background-color: #ea6175; /* Replace with your desired color */
    color: white; /* Text color, adjust as needed */
}

.right-spaced {
    margin-right: 15px;
}

.left-spaced {
    margin-left: 100px;
}

.stepper-spaced {
    margin-top: 5px;
}

.doingsPrimaryButton{
    background-color: #de8491;
    color: white;
}
  