<div class="container">
    <div class="row">
        <div class="col containerButton">
            <button mat-raised-button class="doingsPrimaryButton extraButton">Neuer Assistent</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <a href="{{BASE_LINK}}/prompt/27">
                <mat-card class="padded">
                    <mat-card-content class="broad">
                        <mat-icon>diversity_2</mat-icon>
                        <span class="no-link"><h2>Team doings</h2>Assistent zum EXIST-Projekt doings</span>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col">
            <a href="">
                <mat-card class="padded">
                    <mat-card-content class="broad">
                        <mat-icon>groups_3</mat-icon>
                        <span class="no-link"><h2>Team XYZ</h2>Assistent zum BSS-Projekt XYZ</span>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{{BASE_LINK}}/prompt/27">
                <mat-card class="padded">
                    <mat-card-content class="broad">
                        <mat-icon>quiz</mat-icon>
                        <span class="no-link"><h2>Generelle EXIST & BSS FAQ</h2>Mit Notion und Confluence verbundener Assistent für generelle Fragen</span>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col">
            <a href="">
                <mat-card class="padded">
                    <mat-card-content class="broad">
                        <mat-icon>account_tree</mat-icon>
                        <span class="no-link"><h2>Interne Prozesse FAQ</h2>Assistent für Fragen zu internen Prozessen bei Science % Start-Ups und dem PTJ</span>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
</div>
