<!-- <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [funcList]="funcList" (selectionChange)="handleSelectionChange($event)"></app-table> -->
<div class="container">
    <div class="create-button">
        <h1>User Management</h1>
        <button class="doingsAccentBlueButton" mat-raised-button (click)="copyRegistrationLink()"><mat-icon>add_circle</mat-icon>Copy registration link</button>
        <button class="doingsAccentBlueButton" mat-raised-button (click)="createuser()"><mat-icon>add_circle</mat-icon>Create User</button>
    </div>
    <mat-card>
        <div class="row headings">
            <div class="col-2">
                <mat-label>Username</mat-label>
            </div>
            <div class="col-5">
                <mat-label>E-mail</mat-label>
            </div>
            <div class="col-3">
                <mat-label>Status</mat-label>
            </div>
            <div class="col-2">
                <mat-label></mat-label>
            </div>
        </div>
        <hr class="doingsDivider"> 
        <div class="users" *ngIf="dataSource">
            <div *ngFor="let u of dataSource.filteredData">
                <div class="row">
                    <div class="col-2 content">
                        <mat-label>{{u.username}}</mat-label>
                    </div>
                    <div class="col-5 content">
                        <mat-label>{{u.email}}</mat-label>
                    </div>
                    <div class="col-3 content">
                        <mat-slide-toggle [(ngModel)]="u.enabled" (change)="toggleUserStatus(u)">
                          {{ u.enabled ? 'Disable' : 'Enable'}}
                        </mat-slide-toggle>
                      </div>
                    <div class="col-2 content">
                        <button class="doingsPrimaryButton" mat-raised-button><mat-icon>delete</mat-icon>Delete</button>
                    </div>
                </div>  
                <hr class="doingsDivider"> 
            </div>
        </div>
        <mat-paginator [length]="dataSource.data.length" [pageSize]="20"></mat-paginator>  
    </mat-card> 
     
</div>