.container{
    margin: 2% auto;
}
.users{
    padding: 1% 3%;
}
.headings{
    padding: 2% 1% 0% 3%;
    color:#363636;
    font-weight: 500;
}
mat-label{
    font-size:15px;
}
.content{
    position:relative;
}
.content mat-label{
    position:absolute;
    top:25%;
}
.content mat-slide-toggle{
    position:absolute;
    top:25%;
}
.row{
    text-align: left;
}
mat-slide-toggle{
    font-size:18px;
}

.create-button{
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: left;
    color: #363636;
    margin-bottom: 1%;
    font-weight:500;
}