.lightgrey{
    padding: 3px;
    background-color: rgb(233, 215, 194);
    border-radius: 7px;
}

.redbg{
    background-color: rgb(241, 174, 174);
    padding: 3px;
    border-radius: 7px;
}

.greenbg{
    background-color: rgb(148, 236, 148);
    padding: 3px;
    border-radius: 7px;
}