<!-- Multiple File Uploads -->
 <form (ngSubmit)="onUpload()" #fileUploadForm="ngForm">
    <div class="file-upload-container">
      <div
        class="file-drop-area"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
      >
        <p>Drag and drop your files here</p>
      </div>
    </div>
    
    <button type="button" class="fileupload doingsPrimaryButton" (click)="onClick()">
      <mat-icon>input</mat-icon> Upload File(s)
      <input #fileUpload type="file" (change)="onFilesSelected($event)" multiple hidden>
    </button>
    
    <div class="upload" *ngFor="let file of files; let i = index">
      <mat-label>{{ file.name }}</mat-label>
      <button type="button" class="delete" (click)="deleteEvent(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    
    <button *ngIf="flag" type="submit" class="doingsPrimaryButton" mat-raised-button>
      <mat-icon>upload</mat-icon> Upload
    </button>
  </form>