mat-label{
    margin: 8%;
    font-size: 18px;
    font-weight: 500;
    color: #79ABD9;
}
mat-icon{
    height: 20px;
    width: 25px;
}
span{
  color:#119d40
}
img{
    width: 100%;
}
.container{
    margin-top: 3%;
    margin-bottom: 3%;
}
.carousel-container {
    position: relative;
    width: 100%;
    // max-width: 900px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  mat-card {
    width: 100%;
    padding: 0; /* Remove default padding */
    cursor: pointer;
    height:100%;
  }

  mat-card p{
    margin: 5% 5%;
  }
  
  .carousel-slide {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .carousel-caption {
    text-align: center;
    // background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    top:50%;
  }

  .carousel-caption mat-label{
    color:#ffffff;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  .slider mat-label{
    text-align: left;
  }

  