<div class="modal fade modal-createEvent" role="dialog" id="appointmentInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">

            Code not in use
            <form id="frmapp" autocomplete="off" novalidate="novalidate">

                    <div class="modal-header">
                        <h4 class="modal-title">Add/Edit Appointment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" maxlength="64" class="form-control" id="title">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea type="text" class="form-control" id="description"></textarea>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="appstart">Start Date</label>
                                    <input id="appstart" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Duration">Duration</label>
                                    <select id="Duration" asp-items="ViewBag.Duration" class="form-control" onchange="GetTimeSlots()"></select>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" id="divUserList">
                            <label>User</label>
                            <select id="clientId" class="form-control select2" onchange="GetTimeSlots()"></select>
                        </div>


                        <div class="row">
                            <div class="col-lg-6 d-none" id="divUserName">
                                <label id="userName"></label>
                            </div>

                            <div class="col-lg-6 d-none" id="divSlotTime">
                                <label id="slotTime"></label>
                            </div>
                        </div>

                        <input type="hidden" id="id" />

                        <div class="form-group mb-5" id="divAvailableSlots">
                            <label>Available slots</label>
                            <div>
                                <div class="row" id="divSlots"></div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" onclick="CloseModal();">Close</button>
                        &nbsp;
                        <button type="button" class="btn btn-success" onclick="SubmitForm();" id="btnSubmit">Submit</button>

                        <button type="button" class="btn btn-success d-none" onclick="OnConfirm();" id="btnConfirm" >Confirm</button>

                        <button type="button" id="deleteBtn" class="btn btn-danger hidden" onclick="DeleteAppoinment();">Delete</button>
                        &nbsp;

                    </div>

                </form>
        </div>
    </div>
</div>

<style>
    textarea {
        resize: none;
    }
</style>
