.doings-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; /* Change from 'space-between' to 'flex-start' */
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

  .doings-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }