mat-label{
    margin: 8%;
    font-size: 18px;
    // font-weight: 500;
}
mat-icon{
    vertical-align: middle;
    margin: 0% 2%;
}
span{
  color:#000000;
  font-weight:400;
}
img{
    width: 100%;
}
.container{
    margin-top: 3%;
    margin-bottom: 3%;
}  
  mat-card {
    width: 100%;
    padding: 0; /* Remove default padding */
  }
  
  .carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-slide {
    width: 90%;
    margin: 0 auto;
  }
  
  .carousel-caption {
    position: relative;
    left: 0%;
    bottom: 0.25rem;
  }

  .carousel-caption mat-label{
    color: #000000;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  .carousel-container h2{
    text-align: center;
    margin-top: 1%;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
  }  
  .slider h2{
    text-align: left;
    margin: 8%;
  }