
  <div class="container">
    <div class="row">
        <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="icon-container"><mat-icon fontIcon="check_box"></mat-icon>
                  </div>
                  <mat-card-title>Alex</mat-card-title>
                  <mat-card-subtitle>Project management agent</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/alex_compressed.png" alt="Photo of Alex">
                <mat-card-content>
                  <p>
                    Communicates with your stakeholders about requirements, progress and risks. Plans projects and assigns tasks. 
                    Writes all kinds of reports. Organizes necessary meetings and extracts todos and risks from this meetings.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Hire now!</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="icon-container"><mat-icon fontIcon="check_box"></mat-icon>
                  </div>
                  <mat-card-title>Max</mat-card-title>
                  <mat-card-subtitle>Product owner agent</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/max_compressed.png" alt="Photo of Alex">
                <mat-card-content>
                  <p>
                    Keeps your backlog tidy. 
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Hire now!</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="icon-container"><mat-icon fontIcon="check_box"></mat-icon>
                  </div>
                  <mat-card-title>Custom agent</mat-card-title>
                  <mat-card-subtitle>Create your own agent</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/custom_agent.png" alt="Photo of Alex">
                <mat-card-content>
                  <p>
                    Use our low code agent configuration to create your own ai agent.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Hire now!</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
  </div>
  
